region             = "eu-central-1"
cluster_name       = "eks-gitops-platform"
kubernetes_version = "1.30"
node_instance_type = "t3.medium"
node_desired_size  = 2
node_min_size      = 2
node_max_size      = 4
